.landing-page-button {
    width: 160px;
    height: 38px;
    border-radius: 500px;
    font-family: 'Roboto';
    color: #fff;
    outline: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}